{php include wl_template('common/header');}
<style>
    #Choose{
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        display: none;
    }
    #Choose>div{
        width:65%;
        height: 68%;
        margin-top: 5%;
        margin-left: 20%;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 5px;
    }

    a.thumbnail{
        width: 150px;
        height: 200px;
        display: inline-block;
        border: 4px solid #aaa;
        margin: 0 15px 20px 15px;
        padding: 0;
    }
    a.thumbnail.active,a.thumbnail:hover,a.thumbnail:focus{
        border: 4px solid #f68e3a;
    }
    .thumbnail>img{
        width: 100%;
        height: 100%;
    }
    @media screen  and (max-width: 1600px){
        .thumbnail{
            width: 90px!important;
            height: 120px!important;
            margin: 0 15px 10px 15px!important;
        }
        #Choose>div{
            padding: 10px 20px!important;
        }
    }
</style>
<script type="text/javascript" src="resource/js/lib/jquery-ui-1.10.3.min.js"></script>
<!--</ul>-->
<div class="main">
    <form action="" method="post" class="form-horizontal form" id="form" style="position: relative">
        <div class="tab-content">

        <!--简介详情-->
        <div class="tab-pane" id="tab_detail" style="display: block">
            <div class="panel panel-default">
                <div class="panel-heading"><a href="{php echo web_url('goods/goods/')}">详情简介</a> <a target="_blank" style="cursor:pointer; float:right; font-weight:bold;" href="http://doc.lexiangpingou.cn/releaseProduct.html#jjxq">图文说明>></a></div>
                <div class="panel-body" style="margin-bottom: 30px">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">详情简介</label>
                        <div class="col-sm-9 col-xs-12">
                            <!-- <textarea name="goods[goodsdesc]" class="form-control" cols="70">{$goods['goodsdesc']}</textarea> -->
                            {php echo tpl_ueditor('goods[goodsdesc]', $goods['goodsdesc']);}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="form-group col-sm-12 TJButtonCom">
    <input type="hidden" name="id" value="{$goods['id']}" />
    <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" style="float: left;position: relative;top: -60px;left:205px;"/>
    <input type="hidden" name="token" value="{$_W['token']}" />
</div>
</form>

</div>
{php include wl_template('common/footer');}
