
    {{# if( d.list[i].selltype==1){ }}随意团{{# } }}
    {{# if( d.list[i].selltype==2){ }}邻购团{{# } }}
    {{# if( d.list[i].selltype==0){ }}单买{{# } }}
    {{# if( d.list[i].selltype==3){ }}
    自选团
    {{# } }}
    {{# if( d.list[i].selltype==4){ }}
    阶梯团
    {{# } }}
    {{# if( d.list[i].selltype==5){ }}
    抽奖团
    {{# } }}

    {{# if( d.list[i].selltype==6){ }}
    新专团
    {{# } }}
            {{# if( d.list[i].selltype==7){ }}
    订金团
    {{# } }}
    {{# if( d.list[i].selltype==10){ }}
    砍价
    {{# } }}
