{php include wl_template('common/header');}

<div class="panel panel-default">
	<div class="panel-body table-responsive" style="padding: 0px;">
		<div class="main_bd">
        <div class="plugins_wrp">
            <dl>
                <dd>
                    <ul id="js_plugins">
						<li class="item_wrp" style="width: 100%;">
							<div class="plugin_item">
								<div  id="link-icon1" class="plugin_icon" >
									<div id="link-icon" style="display:none;width:100%;height:100%;position:absolute;background-color:rgba(0,0,0,0.3);cursor:pointer;">
										<img src="{TG_URL_WRES}images/3.svg"style="position:absolute;width:60%;left:20%;">
									</div>
									<img src="{TG_URL_WRES}images/function/deleteVersion.png" style="cursor:pointer;">
								</div>
								
								<div class="plugin_status">
									<i class="access"></i>
									<span class="status_txt">
										{if $checkfunction['status']}									
										<div id="renewal" style="display:none;font-size:20px;margin-top:-30px;width: 60px;height:60px;border-radius:50%;font-weight:900;background-color:#ff5466;color:white;margin-right: -25px;text-align:center;line-height:60px;cursor:pointer;">续费</div>
								
										<span style="display:block;margin-left:-70px;color:#888;font-size:14px;">截止日期：{php echo date('Y-m-d', $checkfunction['endtime'])}</span>

										
										{else}
										
										<div id="buyDaifu" style="display:none;font-size:20px;margin-top:-20px;width: 60px;height:60px;border-radius:50%;font-weight:900;background-color:#ff5466;color:white;margin-right: -25px;text-align:center;line-height:60px;cursor:pointer;">购买</div>
										{/if}
									</span>
								</div>
								<div class="plugin_content">
									<h3 class="title">去版权</h3>
									<p class="desc" style="    width: 100%;">
										移除手机端中乐享拼购的LOGO，文字等描述
										
									</p>
								</div>
							</div>
						</li>
					</ul>
                </dd>
            </dl>
        </div>
    </div>
	</div>
</div>





<style>
.inner__content {background: #eee none repeat scroll 0 0;border-top: 1px solid #dcdcdc;box-sizing: border-box;color: #666;margin-top: 10px;margin-bottom:10px;min-width: 100%;padding: 10px 5px;width: auto;text-align:center;}
</style>
<script>

$(function(){
	require(['bootstrap.switch'],function($){
		$('.flag:checkbox').bootstrapSwitch({onText: '启用', offText: '禁用'});
		$('.bootstrap-switch-wrapper').click(function(e){
			e.stopPropagation();
			$.post("{php echo web_url('application/helpbuy/ajax')}",function(d){
				if(!d.errno){
					util.tips(d.message);
				}
			},"json");
		});
	});
	// 新建
		$('.js-create').click(function(e) {
			$('#order-remark-container').show();
			$('.panel').css("opacity","0.2");$('.nav').css("opacity","0.2");
		});
		$('.js-cancel,.close').click(function(e) {
			$('#order-remark-container').hide();
			$('.panel').css("opacity","1");$('.nav').css("opacity","1");
		});
		$('.js-order-remark-post').click(function() {
			var order_id = $(this).attr('order-id');
			var remark = $('#remark').val();
			$.post("{php echo web_url('application/helpbuy/create')}",{id:order_id,remark:remark},function(d){
				if(!d.errno){
					if(order_id){
						$('#name'+order_id).html(remark);
					}else{
						var data = '<tr data-toggle="popover" data-trigger="hover" data-placement="left" class="js-goods-img">'
									+'<td class="line-feed text-left">'+remark
									+'</td>'
									+'<td class="text-left">'
										+'<a href="javascript:;" class="js-edit" order-id="'+d.id+'">编辑</a> - '
										+'<a href="javascript:;" class="js-delete" order-id="'+d.id+'">删除</a>'
									+'</td>'
								+'</tr>';
						
						$('#add').append(data);
					}
					
				}
			},"json");
			$('#order-remark-container').hide();
			$('.panel').css("opacity","1");$('.nav').css("opacity","1");
		});
		$('.js-edit').click(function(e) {
			var order_id = $(this).attr('order-id');
			var order_name = $(this).attr('order-name');
			$('#remark').val(order_name);
			$('.js-order-remark-post').attr("order-id",order_id);
			$('#order-remark-container').show();
			$('.panel').css("opacity","0.2");
			$('.nav').css("opacity","0.2");
		});
		$('.js-delete').click(function(e) {
			e.stopPropagation();
			var order_id = $(this).attr('order-id');
			var _this = $(this);
			util.nailConfirm(this, function(state) {
				if(!state) return;
				_this.parent().parent().remove();
/*url*/				$.post("{php echo web_url('application/helpbuy/delete');}", { id : order_id }, function(data){
						util.tips(data.message);
				}, 'json');
			}, {html: "确定删除！"});
			
		});
	$(".scrollLoading").scrollLoading();
	var $pop = null;
	$('.scrollLoading').hover(function(){
		var img = $(this).attr('src');
		var obj = this;
		var $pop = util.popover(obj, function($popover, obj){
			obj.$popover = $popover;
		}, '<div><img src="'+img+'" style="max-width:200px; max-height:200px;"></div>');
	}, function(){
		this.$popover.remove();
	});
});
var linkicon=document.getElementById("link-icon");
		var linkicon2=document.getElementById("link-icon1");
		
		linkicon2.onmouseleave = function () {
			linkicon.style.setProperty( 'display', 'none' );
		}
		
		linkicon2.onmouseover = function () {
			linkicon.style.setProperty( 'display', 'block' );
		}
		
		linkicon.onclick=function (ev) {
			document.getElementById('detailimg').src='{TG_URL_WRES}images/function/deleteVersion.jpg';
			document.getElementById("detailname").innerHTML = "去版权";
			document.getElementById("detailshow").style.setProperty("display","block");
		}
</script>
{php include wl_template('common/footer');}
