
{php include wl_template('common/header');}
<LINK href="../addons/feng_fightgroups/template/css/style_366c9ef.css" rel="stylesheet">
<LINK href="../addons/feng_fightgroups/template/css/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{TG_URL_ARES}weiui/weui.min.css">
<style id="avalonStyle">
    .main-view {
        font-size: 14px;
    }

    .avalonHide {
        display: none !important
    }

    .nav_item i {
        background: #2e8ded;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
        color: #fff;
        display: inline-block;
        margin-right: 5px;
        font-size: 12px;
    }

    .nav_item {
        padding: 10px !important;
    }
    .weui-input {
        width: 88%;
        height: 2.411765em;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 5px;
        background: #fff;
    }
    .order_heading {
        padding: 0px 10px;
        height: 39px;
        border-top-color: rgb(228, 228, 228);
        border-bottom-color: rgb(213, 213, 213);
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        background-color: rgb(250, 250, 251);
    }
    .order_heading div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .order_goods_msg {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
    }
    .order_goods_msg .order_msg_item {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-right: 1px solid #ccc;
    }
    .order_goods_msg .order_msg_item:last-child {
        border-right: none;
    }
    .order_goods_msg .order_msg_item span {
        height: 20px;
    }
    .order_title {
        display: inline-block;
        width: 40%;
    }
</style>
<body avalonctrl="root">
<div class="container">
    <section class="main-view">

        <div>
            <div class="nav">
                <ul class="nav_list">
                    <li class="nav_item nav_cart">
                        <div style="padding: 10px 0 ">
                            <i class="iconal-wodefankui" style="background-color: #af7070"></i>我的核销佣金
                        </div>
                        <div class="nav_item_bd">

                            <a href="{php echo app_url('order/saler',array('op' => 'display'))}">
                                <span class="nav_item_txt">全部佣金<br>￥<?php echo number_format($qbyj,3)?></span>
                            </a>
                            <a href="{php echo app_url('order/saler/my_cash')}">
                                <span class="nav_item_txt">可提现<br>￥<?php echo number_format($ktx,2)?></span>
                            </a>
                            <a href="{php echo app_url('order/saler/withdraw' , array('status' => 0))}">
                                <span class="nav_item_txt">审核中<br>￥<?php echo number_format($apply,2)?></span>
                            </a>
                            <a href="{php echo app_url('order/saler/withdraw' , array('status' => 1))}">
                                <span class="nav_item_txt">已提现<br>￥<?php echo number_format($member['withdraw'],2)?></span>
                            </a>
                        </div>
                    </li>

                    <!--<li class="nav_item nav_green">-->
                    <!--<div><i class="iconal-friendfill" style="background-color: #039702"></i><a href="{php echo app_url('order/commission')}"> 佣金明细</a></div>-->
                    <!--</li>-->
                    <li class="nav_item nav_gold">
                        <div>
                            <i class="iconal-wodehongbao" style="background-color: #006699"></i>
                            <a href="{php echo app_url('order/saler/my_cash')}"> 立即提现 </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {if $op == 'display'}
         <form action="{php echo app_url('order/saler' , array('op' => $_GPC['op']));}" method="get" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="i" value="{$_GPC['i']}" />
            <input type="hidden" name="c" value="entry" />
            <input type="hidden" name="m" value="lexiangpingou" />
            <input type="hidden" name="do" value="order" />
            <input type="hidden" name="ac" value="saler" />
            <input type="hidden" name="op" value="{$_GPC['op']}"/>
            <div class="weui-cell" style="padding: 10px 5px 0 5px;">
                <div class="weui-cell__bd">
                    <input name="start" class="weui-input" style="width: 100%;" id="time1" type="text" value="{$_GPC['start']}" readonly="">
                </div>
                <span style="margin: 0 5px;">至</span>
                <div class="weui-cell__bd" style="margin-right: 10px;">
                    <input name="end" class="weui-input" style="width: 100%;" id="time2" type="text" value="{$_GPC['end']}" readonly="">
                </div>
                <input class="weui-btn weui-btn weui-btn_default" type="submit" name="submit" value="搜索" style="font-size: 12px;width: auto;"/>
            </div>
           
        </form>
        {loop $orders $order}
        <div class="order" ms-repeat-order="orders">
            <div class="order_heading">
                <div>
                    <span class="order_title">{php echo date('Y-m-d H:i:s', $order['createtime']);}</span>
                    <span>订单号:{$order['orderno']}</span>
                </div>    
                <div>
                    <span class="order_title">客户姓名:{$order['addname']}</span>
                    <span>电话号码:{$order['mobile']}</span>
                </div>
            </div>
            <div class="order_bd">
                <div class="order_glist" >
                    <!--获得商品的id-->
                    <!--end获得商品的id-->
                    <a href="javascript:;">
                        <div class="order_goods_msg" data-url="">
                            <div class="order_msg_item">
                                <span>{$order['gname']}</span>
                            </div>
                            <div class="order_msg_item">
                                <span>商品金额：{$order['goodsprice']}</span>
                                <span>数量：{$order['gnum']}</span>
                            </div>
                            <div class="order_msg_item">
                                {if $order['commissiontype'] == '2'}
                                <span>单件提成：{$order['commission']}</span>
                                {else if $order['commissiontype'] == '1'}
                                <span>提成比例: {$order['commission']} %</span>
                                {/if}
                                <span>佣金{$order['price']}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {/loop}
        {elseif $op == 'my_cash'}
        <form name='form' method="post" onsubmit="return toVaild()">
            <div class="wx_wrap" style="font-size:16px;margin-top:20px;margin-left:20px;">
                <p style="margin:40px 0;">
                    <label for="name"><SPAN class="tit">提现金额</SPAN>
                        <input name="name" id="name" type="text" placeholder="请输入大于1元的金额" value="" style="height:35px;border:none;margin-left:10px;padding-left:5px;line-height:40px;">

                    </label>
                </p>

            </div>

            <p class="action">
                <button type="submit" name="submit" value="yes" id= 'submit' class="pay2_btn" style="position:fixed;bottom:0;margin:0;width:100%;background-color:#6fbfd8;">申请提现</button>
                <input type="hidden" name="token" value="{$_W['token']}"/>
            </p>

        </form>
        {elseif $op == 'withdraw'}
        <div>
            <div class="order">
                <form name='form' method="post" onsubmit="return toVaild()">
                    <table style="width: 100%;overflow-y:auto;overflow-x: hidden; font-size: 12px;">
                        {if !empty($list)}
                        <thead>
                        <!--<th style="width:80px;">银行流水单</th>-->
                        <th>处理进度</th>
                        <th>申请提现金额</th>
                        <th>申请提现时间</th>
                        <th>发放时间</th>
                        </thead>
                        <tbody>
                        {loop $list $item}

                        <tr>
                            <td style="width: 20%;text-align: center;">
                                {if $item['status'] == 0}<label class="label label-default">审核中</label>
                                {elseif $item['status'] == 1}<label class="label label-danger">已打款</label>
                                {elseif $item['status'] == -1}<label class="label label-success">拒绝打款</label>
                                {/if}
                            </td>
                            <td style="width: 25%;text-align: center;">{$item['price']}元</td>
                            <td style="width: 25%;text-align: center;">{php echo date("Y-m-d H:i:s",$item['createtime'])}</td>
                            <td style="width: 30%;text-align: center;">
                                {if $item['status'] == 1}
                                {php echo date("Y-m-d H:i:s",$item['updatetime'])}
                                {else}
                                <label class="label label-default">暂未发放</label>
                                {/if}
                            </td>
                        </tr>
                        {/loop}
                        {else}
                        <tr>
                            <td colspan="4" class="text-center" style="text-align: center">
                                <span style="color:red;font-weight: 700;font-size:18px;">暂无记录</span>
                            </td>
                        </tr>
                        {/if}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        {/if}
    </section>

</div>
</body>
<script>
    $("#time1,#time2").datetimePicker(
        {
            times: function () {
                return [
                    {

                    }
                ];
            }
        }
    );
    wx.ready(function () {
        var shareData = {
            title: "{$share_indexname}",
            desc: "{$share_indexdesc}",
            link: "{$tourl}",
            imgUrl: "{php echo tomedia($share_images)}",
        };
        //分享朋友
        wx.onMenuShareAppMessage({
            title: shareData.title,
            desc: shareData.desc,
            link: shareData.link,
            imgUrl: shareData.imgUrl,
            trigger: function (res) {
            },
            success: function (res) {
            },
            cancel: function (res) {
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });
        //朋友圈
        wx.onMenuShareTimeline({
            title: shareData.title,
            link: shareData.link,
            imgUrl: shareData.imgUrl,
            trigger: function (res) {
            },
            success: function (res) {
            },
            cancel: function (res) {
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });
        var shareAddress = {php echo json_encode($shareAddress)};
        WeixinJSBridge.invoke('editAddress', shareAddress, function (res) {
            if (res.err_msg == 'edit_address:ok') {
                $("#myname").val(res.userName);
                $('#myphone').val(res.telNumber);
                $('#detailed_address').val(res.addressDetailInfo);
                var city = res.proviceFirstStageName + " " + res.addressCitySecondStageName + " " + res.addressCountiesThirdStageName;
                $('#city-picker').val(city);
            }
        });
    });

</script>
