<div style='max-height:500px;overflow:auto;min-width:580px;'>
<table class="table table-hover" style="min-width:580px;">
    <tbody>   
        {loop $ds $row}
        <tr>
            <td>{$row['name']}</td>
            <td style="width:80px;"><a href="javascript:;" onclick='select_dispatch({php echo json_encode($row);})'>选择</a></td>
        </tr>
        {/loop}
        {if count($ds)<=0}
        <tr>
            <td colspan='2' align='center'>未找到运费模板</td>
        </tr>
        {/if}
    </tbody>
</table>
</div>