<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script type="text/javascript" src="js/jquery-3.1.1.min.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		
		<style>
			.table th, .table td { text-align: center; }
			.ddlist table tr td{ height: 37px;}
		</style>
	</head>
	<body>
		
		<form method="get">
			<div class="ddlist">
		    <table class="table table-bordered" >
		    <tr>
		    	<td></td>
		    	<td>订单ID</td>
		    	<td>订单编号</td>
		    	<td>手机号</td>
		    	<td>下单时间</td>
		    </tr>
		    <tr>
		    	<td><input type="radio" name="vehicle" value="Bike" /></td>
		    	<td>123</td>
		    	<td>321</td>
		    	<td>1312313214213</td>
		    	<td>07/13</td>
		    </tr>
		    <tr>
		    	<td><input type="radio" name="vehicle" value="Bike" /></td>
		    	<td>3222</td>
		    	<td>2333</td>
		    	<td>12332123214579</td>
		    	<td>01/10</td>
		    </tr>
		    <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
            
             <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
            
             <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
             <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
            
             <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
             <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
             <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
            
              <tr>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    </table>
		</div>
			

		<input id="tj" onclick="javascript:document.getElementByIdx_x('ddlist').style.display='none';" type="button" value="提交"/>
		</form>
	</body>
</html>
