<div class="order-list">
    <div class="panel-body table-responsive collapse in" id="order-template-item-4" style="padding: 0;">
        <button id="module-judgment" style="display:none" class="btn btn-default" type="button"
                onclick="popwin = $('#modal-module-judgment').modal();">隐藏点击
        </button>

    </div>
    {loop $list $item}
    <div class="panel panel-default">

        <table class="table" style="background-color:#888">
            <thead style="">
            <tr>
                <!--<th style="width:60px;" class="text-center"><input type="checkbox" onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});" />全选</th>-->
                <th>极限单品名称</th>
                <!--<th style="text-align:center;">权重方式</th>-->
                <th style="text-align:center;width: 80px">{$item['goods_style']}</th>
                <th style="text-align:center;width: 80px">品质</th>
                <th style="text-align:center;width: 80px">售后</th>
                <th style="text-align:center;width: 80px">总评分</th>
                <!--<th style="text-align:center">内容</th>-->
                <!--<th style="text-align:center">图集</th>-->
                <th style="text-align:center">评分时间/审核时间</th>
                <th style="text-align:center">审核状态/原因</th>
                {if $item['review_status'] == '0'}
                <th style="text-align:center;width: 80px">操作</th>
                {/if}
            </tr>
            </thead>

        </table>

        <div class="panel-body table-responsive" style="padding: 0px;">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td class="goods-info line-feed" style="padding-left: 10px;">{$item['gname']}</td>
                    <!--<td class="goods-info line-feed" style="padding-left: 10px;">{$item['weight_mode']}</td>-->
                    <td class="goods-info line-feed" style="padding-left: 10px;width: 80px">{$item['style_score']}</td>
                    <td class="goods-info line-feed" style="padding-left: 10px;width: 80px">{$item['quality_score']}</td>
                    <td class="goods-info line-feed" style="padding-left: 10px;width: 80px">{$item['sales_score']}</td>
                    <td class="goods-info line-feed" style="padding-left: 10px;width: 80px">{$item['total_score']}</td>
                    <!--<td class="goods-info line-feed" style="padding-left: 10px;">{$item['directions']}</td>-->
                    <!--<td class="goods-info line-feed" style="padding-left: 10px;">{$item['imgs']}</td>-->
                    <td class="goods-info line-feed" style="padding-left: 10px;">
                        {php echo date('Y-m-d',$item['score_time'])}<br>
                        {if $item['review_status'] == '1'}
                            {php echo date('Y-m-d',$item['review_time'])}
                        {/if}
                    </td>
                    <td class="goods-info line-feed" style="padding-left: 10px;text-align: center">
                        {if $item['review_status'] == '0'}
                        待审核
                        {elseif $item['review_status'] == '-1'}
                        审核未通过
                        {elseif $item['review_status'] == '1'}
                        审核通过
                        {/if}
                        <br>
                        {$item['review_reason']}
                    </td>
                    {if $item['review_status'] == '0'}
                    <td class="text-center" style="text-align:center;width: 80px">
                        {if $_W['uniacid'] == 33}
                        <a href="javascript:;" onclick="openSH({$item['id']},{$item['goodsid']})">审核</a><br/>
                        {/if}
                        <a href="javascript:;" onclick="openPL({$item['id']},{$item['goodsid']})">评论内容</a>
                    </td>
                    {/if}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {/loop}
</div>
{$pager}
<div class="imgB" style="display:none;position: absolute;top: 10px;left: 40px"><img src="{$item['uni_payimg']}" alt=""></div>
<div class="paydetail" style="position: fixed;top: 0;left: 0;background-color: rgba(0,0,0,0.7); width: 100%;height: 100%;display: none">
    <div class="panel panel-default" style="position: absolute;top: 15%;left: 25%;width: 50%">
        <div class="panel-heading">审核
            <a onclick="closeSQ()" style="cursor:pointer; float:right; margin-right:10px; font-weight:bold;" href="javascript:;">X</a>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                <div class="form-group" style="height: 60px;">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">审核状态</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <label style="margin: 0" class="radio radio-inline">
                                <input type="radio" name="status" value="1" checked onclick="$('.review_reason').fadeOut()">通过
                            </label>
                            <label class="radio radio-inline">
                                <input type="radio" name="status" value="-1" onclick="$('.review_reason').fadeIn()">不通过
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group review_reason" style="height: 60px;display: none">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">填写原因</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" value=""/>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer" style="height: 60px">
            <input onclick="tjsh(this)" type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1 tjsh" style="float: right;">
        </div>
    </div>
</div>
<div class="paydetail1" style="position: fixed;top: 0;left: 0;background-color: rgba(0,0,0,0.7); width: 100%;height: 100%;display: none">
    <div class="panel panel-default" style="position: absolute;top: 15%;left: 25%;width: 50%">
        <div class="panel-heading">评论详情
            <a onclick="$('.paydetail1').fadeOut()" style="cursor:pointer; float:right; margin-right:10px; font-weight:bold;" href="javascript:;">X</a>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                <div class="form-group" style="height: 60px;">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">评论内容</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="directions">
                            <textarea cols="70" class="form-control" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">评论图集</label>
                    <div class="col-md-8 imgs">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //打开审核界面
    function openSH(id,goodsid){
        $('.paydetail').show();
        $('.tjsh').attr('data-id',id).attr('data-goodsid',goodsid);

    }
    //打开评论界面
    function openPL(id,goodsid){
        $('.paydetail1').show();
        $.get(
            "{php echo web_url('platform/score/content_detail')}",
            {"id":id},
            function(res){

                var data=JSON.parse(res).data;
                console.log(data);
                $('.directions textarea').html(data.directions);

                var imgs='';
                for(var i=0;i<data.img.length;i++){
                    imgs+='<img  onmouseout="Yend(this)" onmousemove="Tend(this)" style="width: 30%" src="'+data.img[i]+'" alt="">'
                }
                $('.imgs').html(imgs);
            }
        )
    }
    function Tend(self){
        $(self).css("width","100%");
    }
    function Yend(self){
        $(self).css("width","30%");
    }
    //提交审核
    function tjsh(self){
        if($('[name="status"]:checked').val()=='-1'&&$('.review_reason input').val()==''){
            util.tips('请填写原因');
            return false;
        }
        $.get(
            "{php echo web_url('platform/score/scores_review')}",
            {
                'id':$(self).attr('data-id'),
                'status':$('[name="status"]:checked').val(),
                'review_reason':$('.review_reason input').val(),
                'goodsid':$(self).attr('data-goodsid')
            },
            function(res){
            var data=JSON.parse(res);
            console.log(data);
            if(data.status==1){
                util.tips('审核成功');
                setTimeout(function(){
                    location.href="{php echo web_url('platform/score')}";
                },1000)
            }else{
                util.tips('无可打款项目');
                return;
            }
        })
    }


    function ajaxdetail(id) {
        $.get("{php echo web_url('platform/shop_order/detail')}", {"id": id}, function (res) {
            var data = JSON.parse(res);
            if (data.status == 1) {
                $('.page-trade-order.detail').fadeIn();

            } else {
                util.tips(data.data);
                return false;
            }
        })
    }

    function openSQ(id,money){
        $('.paydetail').show();
        $('.sqfh').attr('data-id',id);
        $('input[name="uni_paytype"]').attr('data-money',money);
    }

    function wx_pay() {
        var money=$('input[name="uni_paytype"]').attr('data-money');
        var orderid=$('.sqfh').attr('data-id');
        $('.card').css('display','none');
        $('.wx').css('display','block').css('text-align','center');
        $.post("{php echo web_url('platform/platform_pay/pay');}", {money: money,orderid:orderid}, function (res) {
            var data = JSON.parse(res);
            console.log(data);
            if (data.status == 'success') {
                $("#payimage").attr('src', urlC + data.data.url);
                timeJS(data.data.order_id,orderid);
            }
        });
    }
    //关闭申请界面，清空val()
    function closeSQ() {
        $('.paydetail').fadeOut();
        $('input[name="uni_payprice"]').val('');
        $('input[name="uni_payno"]').val('');
        $('input[name="uni_payimg"]').val('');
    }

    //申请发货
    function sqfh(self) {
        if ($('input[name="uni_payprice"]').val() == '') {
            util.tips('请填写支付金额');
            return false;
        }
        if ($('input[name="uni_payno"]').val() == '') {
            util.tips('请填写银行流水单号');
            return false;
        }
        if ($('input[name="uni_payimg"]').val() == '') {
            util.tips('请上传银行流水详情图');
            return false;
        }
        $.post(
            "{php echo web_url('platform/shop_order/order_submit');}",
            {
                order_id: $(self).attr('data-id'),
                uni_paytype: 1,
                uni_payprice: $('input[name="uni_payprice"]').val(),
                uni_payno: $('input[name="uni_payno"]').val(),
                uni_payimg: $('input[name="uni_payimg"]').val()
            },
            function (res) {
                var data = JSON.parse(res);
                if (data.status == 1) {
                    util.tips(data.message);
                    setTimeout(function () {
                        location.reload()
                    }, 1000)
                } else {
                    util.tips(data.message);
                }
            }
        )
    }
    //流水图片hover事件
    $('.payimg').hover(function () {
        console.log($(this).attr('src'));
        var img=$(this).attr('src');
        $('.imgB img').attr('src',img);
        $('.imgB').fadeIn();
    });
    $('.payimg').mouseout(function () {
        var img=$(this).attr('src');
        $('.imgB img').attr('src',img);
        $('.imgB').fadeOut();
    })
</script>
<script>
    var urlC = 'http://paysdk.weixin.qq.com/example/qrcode.php?data=';
    $(function () {

//        var money = {$account['margin']};
//        $.post("{php echo web_url('store/merchant_margin/pay');}", {money: money}, function (res) {
//            var data = JSON.parse(res);
//            console.log(data);
//            if (data.status == 'success') {
//                $("#payimage").attr('src', urlC + data.data.url);
//                timeJS(data.data.order_id);
//            }
//        });
    });
    var myIntval;
    function timeJS(order_id,orderid) {
        //设置每隔1000毫秒执行一次load() 方法
        myIntval = setInterval(function () {
            load()
        }, 1000);
        function load() {
//            document.getElementById("timer").innerHTML=parseInt(document.getElementById("timer").innerHTML)+1;
            var xmlhttp;
            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            } else {
                // code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                clearInterval(myIntval);
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    trade_state = xmlhttp.responseText;
                    console.log(trade_state);
                    if (trade_state == 'SUCCESS') {
//                        document.getElementById("myDiv").innerHTML = '支付成功';
                        util.tips('支付成功');
                        clearInterval(myIntval);

                        //alert(transaction_id);
                        //延迟3000毫秒执行tz() 方法

                        //setTimeout("location.href='http://www.baidu.com'",3000);
                        var num = order_id;
                        $.ajax({
                            url: "{php echo web_url('platform/platform_pay',array('op'=>'check_success'))}",
                            type: "post",
                            data: {
                                order_id: String(num),
                                orderid:orderid
                            },
                            success: function (res) {
                                clearInterval(myIntval);
                                setTimeout(function () {
                                    location.reload();
                                }, 700);
                            },
                            error: function (res) {
                                alert('error');
                            }
                        });

                    } else if (trade_state == 'REFUND') {
//                        document.getElementById("myDiv").innerHTML = '转入退款';
                        clearInterval(myIntval);
                    } else if (trade_state == 'NOTPAY') {
//                        document.getElementById("myDiv").innerHTML = '请扫码支付';

                    } else if (trade_state == 'CLOSED') {
//                        document.getElementById("myDiv").innerHTML = '已关闭';
                        clearInterval(myIntval);
                    } else if (trade_state == 'REVOKED') {
//                        document.getElementById("myDiv").innerHTML = '已撤销';
                        clearInterval(myIntval);
                    } else if (trade_state == 'USERPAYING') {
//                        document.getElementById("myDiv").innerHTML = '用户支付中';
                    } else if (trade_state == 'PAYERROR') {
//                        document.getElementById("myDiv").innerHTML = '支付失败';
                        clearInterval(myIntval);
                    }

                }
            };
            //orderquery.php 文件返回订单状态，通过订单状态确定支付状态
            xmlhttp.open("POST", "{php echo web_url('platform/platform_pay',array('op'=>'check'))}", false);
            //下面这句话必须有
            //把标签/值对添加到要发送的头文件。
            xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlhttp.send("out_trade_no=" + order_id);
        }

    }
</script>