{php include wl_template('common/header');}
<style>
    /*.form-group {*/
    /*height: 50px;*/
    /*}*/

    input[type="radio"] {
        vertical-align: top;
        margin-right: 4px;
    }
    .right_bar {
        padding-left: 20%;
    }
</style>
<link rel="stylesheet" href="{TG_URL_WRES}css/platform_apply.css">

<div class="main_hd">
    <h2 style="background-color: #f4f5f9;margin-top: 0">极限单品供应商入驻</h2>
</div>
<form action="" method="post" class="form-horizontal form" id="form" style="position: relative;">

    <div class="panel panel-default">
        <div class="main_bd">

            <div id="stepItems"><ul class="processor_bar grid_line" style="margin-bottom: 0">
                <li class=" step grid_item size1of5 current">
                    <h4>1 填写资料</h4>
                </li>
                <li class=" step grid_item size1of5 next">
                    <h4>2 上传协议</h4>
                </li>
                {if empty($supplier['openid'])}
                <li class=" step grid_item size1of5 next">
                    <h4>3 扫码绑定</h4>
                </li>
                {/if}
            </ul></div>

            <div id="wxverify"><div class="agreement_box">

                <!--<div class="form-group" style="height:  90px">-->
                <!--<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>个体工商户资料</label>-->
                <!--<div class="col-md-12" style="border-bottom: 1px solid #ccc"></div>    -->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>所属类目</label>
                    <div class="col-md-4 control-label" style="text-align: left;">
                        <select name="platform[manage_cate_id]" class="categoryI form-control tpl-category-parent" style="margin-right:20px;display: inline-block;">
                            <option value="0" selected="selected">请选择类目</option>
                            {loop $manage_cate $item}
                            <option value="{$item['id']}" {if $supplier['manage_cate_id']==$item['id']}selected="selected"{/if}>{$item['cname']}</option>
                            {/loop}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>营业执照名称</label>
                    <div class="col-md-4 control-label" style="text-align: left;">
                        <div>
                            <input type="text" name="platform[uniname]" value="{$supplier['uniname']}" class="form-control"/>
                            <span class="help-block col-sm-12">营业执照名称<a class="yyzz" href="javascript:;">查看事例</a></span>
                        </div>
                        <!--<span class="help-block col-sm-4"> 支持中国大陆工商支持中国大陆工商支持中国大陆工商支持中国大陆工商支持中国大陆工商支持中国大陆工商支持中国大陆工商支持中国大陆工商</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>工商执照注册号</label>
                    <div class="col-md-4">
                        <input type="text" name="platform[uni_license]" value="{$supplier['uni_license']}" class="form-control"/>
                        <span class="help-block col-sm-12">填写工商营业执照上的注册号</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>工商执照上传</label>
                    <div class="col-md-4">
                        {php echo tpl_form_field_image('platform[license_img]', $supplier['license_img']);}
                        <!--<span class="help-block">图片建议为640X300</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>经营者姓名</label>
                    <div class="col-md-4">
                        <input type="text" name="platform[realname]" value="{$supplier['realname']}" class="form-control"/>
                        <span class="help-block col-sm-12">填写营业执照上法人名称</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>经营者身份证号</label>
                    <div class="col-md-4">
                        <input type="text" name="platform[id_card]" value="{$supplier['id_card']}" class="form-control"/>
                        <span class="help-block col-sm-12">填写营业执照法人身份证号码</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>经营者身份证正面</label>
                    <div class="col-md-4">
                        {php echo tpl_form_field_image('platform[id_card_img]', $supplier['id_card_img']);}
                        <!--<span class="help-block">图片建议为640X300</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>经营者身份证背面</label>
                    <div class="col-md-4">
                        {php echo tpl_form_field_image('platform[id_card_fan]', $supplier['id_card_fan']);}
                        <!--<span class="help-block">图片建议为640X300</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>开户名称</label>
                    <div class="col-md-4">
                        <input type="text" name="platform[bank_name]" class="form-control" value="{$supplier['bank_name']}"/>
                        <span class="help-block col-sm-12">若有对公账户,填写工商企业账户名称.若无对公账户,填写填写营业执照法人账户</span>
                    </div>
                </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>银行类型</label>
                <div class="col-md-4">
                    <label class="radio radio-inline">
                        <input type="radio" name="platform[bank_style]" value="1" {if $supplier['bank_style'] == 1}checked{/if}> 对公
                    </label>
                    <label class="radio radio-inline">
                        <input type="radio" name="platform[bank_style]" value="2" {if $supplier['bank_style'] == 2}checked{/if}> 对私
                    </label>
                </div>
            </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>开户银行</label>
                    <div class="col-md-4">
                        <input type="text" name="platform[bank_type]" class="form-control" value="{$supplier['bank_type']}"/>
                        <span class="help-block col-sm-12">备注:请填写银行卡的开户支行名称，如：中国工商银行和平里支行</span>
                        <!--<select class="categoryI form-control tpl-category-parent" name="platform[bank_type]" id="bank"></select>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>银行账号</label>
                    <div class="col-md-4">
                        <input type="text" name="platform[bank_account]" class="form-control" value="{$supplier['bank_account']}"/>
                        <span class="help-block col-sm-12">收款指定账户，我们会给该账户汇入一笔随机金额对账户进行校验,确保账户正确，以免无法收到款项</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>联系人姓名</label>
                    <div class="col-md-4">
                        <input type="text" name="platform[contact_person]" class="form-control" value="{$supplier['contact_person']}"/>
                        <span class="help-block col-sm-12">认证审核过程中将会致电该联系人</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>联系人手机号码</label>
                    <div class="col-md-4">
                        <input type="text" name="platform[contact_phone]" class="form-control contact_phone" value="{$supplier['contact_phone']}"/>
                        <span class="help-block col-sm-12">请填写联系人的手机号码,认证审核过程中将会致电该联系人.验证码有效期10分钟</span>
                    </div>
                    {if !$supplier['id']}
                    <label onclick="window.getCorda(this)" id="getCord" class="btn btn-default" style="height: 34px">获取验证码</label>
                    {/if}
                </div>
                {if !$supplier['id']}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>短信验证码</label>
                    <div class="col-md-4">
                        <input type="text" name="message_code" class="form-control" value=""/>
                    </div>
                </div>
                {/if}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>经营范围</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_ueditor('platform[scope]', $supplier['scope']);}
                    </div>
                </div>

                <div class="tool_bar border tc" style="margin-top: inherit;text-align: right;">
                    <input type="submit" name="submit" class="btn btn_primary" id="js_nextBtn" style="margin-right: 7em" value="下一步">
                </div>
            </div></div>
            <div style="display: none" class="panel-body editZL" >
                <div class="news_box inset wxverify" id="print_xieyi" style="margin: 0 auto;">
                    <div class="inner">
                        <h3 style="margin-top: 5px">极限单品供应商入驻协议</h3>
                        <!--<h4>【首部及导言】</h4>-->
                        <p>甲方：<text id="uniname"></text></p>
                        <p>乙方：瑞安市火蝶信息科技有限公司</p>
                        <p>甲乙双方本着“互惠互利”的原则经双方协商决定，签订供应商入驻协议，具体内容如下：</p>
                        <p>第一条【基本入驻条件】供应商入驻火蝶必须具备以下条件： </p>
                        <p>入驻火蝶极限单品需为火蝶VIP用户并通过微信服务号认证的个体或者企业</p>
                        <p>火蝶不提供以下商品类目的供应商入驻：</p>
                        <p>1.网络游戏点卡、网游装备、游戏币、账号、代练、腾讯QQ专区</p>
                        <p>2.医药、医疗器械、中药、西药（健字号除外）</p>
                        <p>3.催情商品以及含有催情功效的商品</p>
                        <p>（注：火蝶保留根据国家法律法规及相关政策调整类目限制商品的权利）</p>
                        <p>第二条【发布商品描述】供应商发布的商品详情和标题中不得包含任何有可能伤害分销商利益的内容，如：</p>
                        <p>供应商的联系方式；</p>
                        <p>供应商自营店铺连接和商品促销信息；</p>
                        <p>供应商自营店铺或其他平台店铺（如淘宝、天猫、京东或独立网站）的文字或图片广告及水印；</p>
                        <p>第三条【正品保障】供应商在平台不得发布虚假信息或销售假冒伪劣产品。</p>
                        <p>第四条【如实描述】供应商对产品的描述遵循： </p>
                        <p>供应商应当对产品的基本属性、成色、瑕疵等必须说明的信息进行真实、完整的描述。</p>
                        <p>供应商保证其出售的产品可以正常使用，符合法律法规及相关国家标准、行业标准，产品不存在任何危及人身财产安全的隐患，具备产品应当具备的使用性能、符合产品或其包装上注明采用的标准等。</p>
                        <p>第五条【评分规定】店铺评分总值5分，当甲方的店铺分值低于3分时，将永久禁止入驻极限单品供应商。</p>
                        <p style="height: 15px"></p>
                        <p>申请入驻联系人签字：</p>
                        <p style="height: 10px"></p>
                        <p>申请入驻主体加盖公章：</p>
                        <p style="height: 10px"></p>
                        <p>需加盖与主体一致的单位公章。无公章的个体工商户可加盖法人私章或签字拇指印。</p>
                        <p style="height: 5px"></p>
                        <p style="text-align: right">{php echo date('Y年m月d日')}</p>
                    </div>
                </div>
                <div class="tool_area" style="padding: 12px 0 20px;">
                    <!--<label for="js_agree" class="frm_checkbox_label selected">-->
                    <!--<i class="icon_checkbox"></i>-->
                    <!--<input style="position: inherit" type="checkbox" id="js_agree" class="frm_checkbox">-->
                    <!--<span class="lbl_content">我同意并遵守上述的《XXXXXX认证服务协议》</span>-->
                    <!--</label>-->
                    <!--<a href="javascript:;" type="button" onclick="print()" class="btn btn_primary"  id="down_button" style="float: right;">点击下载协议</a>-->
                    <a href="javascript:;" type="button" class="btn btn_primary"  id="down_button" style="float: right;" onclick="print()" >点击立即打印</a>
                </div>
                <div class="form-group" style="height:inherit;margin-bottom: 50px">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label"><span style='color:red'>*</span>上传协议</label>
                    <div class="col-md-4">
                        {php echo tpl_form_field_image('platform[id_card_xy]', $supplier['id_card_xy']);}
                        <span class="help-block col-sm-12">协议需要盖章，签名后才有效</span>
                    </div>
                    <div class="col-md-12" style="border-bottom: 1px solid #ccc"></div>
                </div>
                <div class="form-group col-sm-12">
                    {if empty($supplier['openid'])}
                    <input type="submit" class="btn btn_primary" id="js_nextBtn1" value="下一步" style="float: right"/>
                    {else}
                    <input type="submit" class="btn btn_primary" id="js_nextBtn2" value="提交" style="float: right"/>
                    {/if}
                    <input type="button" value="上一步" class="btn btn-primary col-lg-1 prevBtn" style="border: none;background-color: #44b549;margin-right: 20px;float: right;position: relative;"/>
                </div>
            </div>
            <div style="display: none" class="panel-body erweima">
                <div style="text-align: center">
                    <img src="" alt="">
                    <p>请扫码关注该公众号，后期极限单品相关通知将通过此公众号发送</p>
                </div>
                <div class="form-group col-sm-12 TJButtonCom">
                    <input type="hidden" name="step" value="1">
                    <!--<input type="submit" name="submit" value="{if $supplier['id']}提交{else}保存{/if}" class="btn btn-primary col-lg-1" style="border: none;background-color: #44b549;float: right;position: relative;"/>-->
                    <input type="hidden" name="token" value="{$_W['token']}"/>
                    <input type="hidden" name="platform[id]" value="{$supplier['id']}"/>
                    <input type="button" value="上一步" class="btn btn-primary col-lg-1 prevBtn1" style="border: none;background-color: #44b549;margin-right: 20px;float: right;position: relative;"/>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="paydetail" style="position: fixed;z-index:10;top: 0;left: 0;background-color: rgba(0,0,0,0.7); width: 100%;height: 100%;display: none">
    <div class="panel panel-default" style="position: absolute;top: 5%;left: 25%;width: 50%;max-height: 80%">
        <div class="panel-heading">营业执照
            <a onclick="$('.paydetail').fadeOut()" style="cursor:pointer; float:right; margin-right:10px; font-weight:bold;" href="javascript:;">X</a>
        </div>
        <div class="panel-body" style="text-align: center">
            <img style="width: 450px;" src="{TG_URL_WRES}images/platform/zhizhao.png" alt="">
        </div>
    </div>
</div>
<!--<script type="text/javascript" src="//html2canvas.hertzen.com/build/html2canvas.js"></script>-->
<!--<script type="text/javascript" src="{TG_URL_WRES}js/html2canvas.js"></script>-->
<script type="text/javascript">

    function print(){
        window.open("{php echo web_url('platform' , array('ac' => $_GPC['ac'],'op' => 'print'))}&name="+$('[name="platform[uniname]"]').val());
    }
    if("{$_GPC['step']}"=='2'){
        $('#uniname').html($('[name="platform[uniname]"]').val());
        $('#wxverify').css('display','none');
        $('.editZL').css('display','block');
        $('.processor_bar li:first-child').removeClass('current');
        $('.processor_bar li:nth-child(2)').addClass('current');
    }

    var is_fans;
    //提交审核
    if("{$_GPC['step']}"=='3'){
        $.get("{php echo web_url('platform/platform_apply/qr')}",function(res){
            console.log(res);
            var data=JSON.parse(res);
            if(data.url){
                $('.erweima img').attr('src',data.url).attr('data-code',data.code);
                is_fans=setInterval(function(){
                    isFans(data.code,{php echo intval($supplier['id'])});
                },1500)
            }
        });

        $('#uniname').html($('[name="platform[uniname]"]').val());
        $('#wxverify').css('display','none');
        $('.erweima').css('display','block');
        $('.processor_bar li:first-child').removeClass('current');
        $('.processor_bar li:last-child').addClass('current');
    }
    //定时器，判断用户是否关注公众号
    function isFans(code,id){
        $.get(
            "{php echo web_url('platform/platform_list/sub_check')}",
            {   'id': id,
                'status': 0,
                'code':code
            },
            function(res){
                console.log(res);
                var data=JSON.parse(res);
                if(data.errno=='1'){
                    clearInterval(is_fans);
                    util.tips(data.message);
                    setTimeout(function(){
                        location.href = "{php echo web_url('platform/platform_list')}";
                    },1000)
                }
            }
        )
    }
</script>
<script>
    $(function () {
        //银行名称
        var bank=[
            '中国工商银行','招商银行','中国农业银行','中国建设银行',
            '中国银行','中国民生银行','中国光大银行','中信银行','交通银行',
            '兴业银行','上海浦东发展银行','中国人民银行','华夏银行','深圳发展银行',
            '广东发展银行','国家开发银行','中国邮政储蓄银行',
            '中国农业发展银行','北京银行',
            '北京农村商业银行','天津银行','上海银行','上海农村商业银行','南京银行','宁波银行','浙江省农商银行',
            '杭州市商业银行','深圳平安银行','深圳农村商业银行','温州银行',
            '厦门国际银行','济南市商业银行','重庆银行','哈尔滨银行',
            '成都市商业银行','包头市商业银行','南昌市商业银行','贵阳商业银行',
            '兰州市商业银行','常熟农村商业银行','青岛市商业银行','徽商银行'

        ];
        var options='';
        if("{$supplier['bank_type']}"!=''){
            options='<option value="{$supplier['bank_type']}">{$supplier['bank_type']}</option>';
        }
        for(var i=0;i<bank.length;i++){
            options+='<option value="'+bank[i]+'">'+bank[i]+'</option>';
        }
        $('#bank').html(options);


//        $('#form').submit(function () {
//
//            return true;
//        });
    });
    //    //是否同意按钮
    //    $("#js_agree").click(function(){
    //        if($("#js_agree")[0].checked){
    //            $('.tj').removeAttr('disabled');
    //        }else{
    //            $('.tj').attr('disabled','disabled');
    //        }
    //    });
    //下一步按钮
    $('#js_nextBtn').click(function(){
        if($('[name="platform[manage_cate_id]"]').val()=='0'){
            util.tips('请选择所属类目');
            return false;
        }
        if($('input[name="platform[uniname]"]').val()==''){
            util.tips('请填写工商户名称');
            return false;
        }
        if($('input[name="platform[uni_license]"]').val()==''){
            util.tips('请填写工商营业执照上的注册号');
            return false;
        }
        if($('input[name="platform[license_img]"]').val()==''){
            util.tips('请上传工商执照');
            return false;
        }
        if($('input[name="platform[realname]"]').val()==''){
            util.tips('请填写经营者姓名');
            return false;
        }
        if($('input[name="platform[id_card]"]').val()==''){
            util.tips('请填写经营者身份证号');
            return false;
        }
        if($('input[name="platform[id_card_img]"]').val()==''){
            util.tips('请上传经营者身份证正面');
            return false;
        }
        if($('input[name="platform[id_card_fan]"]').val()==''){
            util.tips('请上传经营者身份证背面');
            return false;
        }
        if($('input[name="platform[bank_name]"]').val()==''){
            util.tips('请填写开户姓名');
            return false;
        }
        if(!$('input[name="platform[bank_style]"]:checked').val()){
            util.tips('请选择银行类型');
            return false;
        }
        if($('input[name="platform[bank_type]"]').val()==''){
            util.tips('请填写开户银行');
            return false;
        }
        if($('input[name="platform[bank_account]"]').val()==''){
            util.tips('请填写银行账号');
            return false;
        }

        if($('input[name="platform[contact_person]"]').val()==''){
            util.tips('请填写联系人姓名');
            return false;
        }
        if($('input[name="platform[contact_phone]"]').val()==''){
            util.tips('请填写联系人手机号码');
            return false;
        }
        {if !$supplier['id']}
        if($('input[name="message_code"]')){
            if($('input[name="message_code"]').val()!=sessionStorage.getItem('mobile_code')){
                util.tips('验证码不正确');
                return false;
            }
        }
        {/if}
//        $('#uniname').html($('[name="platform[uniname]"]').val());
//        $('#wxverify').css('display','none');
//        $('.editZL').css('display','block');
//        $('.processor_bar li:first-child').removeClass('current');
//        $('.processor_bar li:nth-child(2)').addClass('current');
            $('[name="step"]').val(2);
        });
    $('#js_nextBtn1').click(function(){
        if($('input[name="platform[id_card_xy]"]').val()==''){
            util.tips('请上传协议');
            return false;
        }
        $.post(
            "{php echo web_url('platform/platform_apply' , array('op' => 'xy'))}",
            {
                "id":"{$supplier['id']}",
                "imgurl":$('[name="platform[id_card_xy]"]').val()
            },
            function(res){
                if(JSON.parse(res).status==1){
                    location.href= "{php echo web_url('platform/platform_apply' , array('op' => 'display' , 'step' => 3))}";
                }

            }
        )
//        $('.editZL').css('display','none');
//        $('.erweima').css('display','block');
//        $('.processor_bar li:nth-child(2)').removeClass('current');
//        $('.processor_bar li:last-child').addClass('current');
        $('[name="step"]').val(3);
    });
    $('#js_nextBtn2').click(function(){
        if($('input[name="platform[id_card_xy]"]').val()==''){
            util.tips('请上传协议');
            return false;
        }
        $.post(
            "{php echo web_url('platform/platform_apply' , array('op' => 'xy'))}",
            {
                "id":"{$supplier['id']}",
                "imgurl":$('[name="platform[id_card_xy]"]').val()
            },
            function(res){
                if(JSON.parse(res).status==1){
                    location.href= "{php echo web_url('platform/platform_list')}";
                }

            }
        )
        $('[name="step"]').val(4);
    });
    //上一步按钮
    $('.prevBtn').click(function(){
        $('.editZL').css('display','none');
        $('#wxverify').css('display','block');
        $('.processor_bar li:nth-child(2)').removeClass('current');
        $('.processor_bar li:first-child').addClass('current');
    });
    $('.prevBtn1').click(function(){
        $('.erweima').css('display','none');
        $('.editZL').css('display','block');
        $('.processor_bar li:last-child').removeClass('current');
        $('.processor_bar li:nth-child(2)').addClass('current');
    });

    //    var comUrl="{php echo $_W['siteroot']}";
    //    $('#submit').click(function(){
    //        var regbg=$('input[name="regbg"]').val();
    //        var payrate=$('input[name="payrate"]').val();
    //        var merchant_pay_time=$('input[name="merchant_pay_time"]').val();
    //        var merchant_role=$('#ueditor_0').html();
    //        var applycontent=$('#ueditor_1').html();
    //        if(regbg==""){
    //            util.message('入驻宣传头部图片不能为空');
    //        }
    //        if(payrate==""){
    //            util.message('手续费不能为空');
    //        }
    //        if(merchant_pay_time==""){
    //            util.message('打款周期不能为空');
    //        }
    //        $.post(comUrl+'minapi.php?op=merchant_base',
    //                {
    //                    uniacid:"{$_W['uniacid']}",
    //                    regbg:regbg,
    //                    applycontent:applycontent,
    //                    payrate:payrate,
    //                    merchant_role:merchant_role,
    //                    merchant_pay_time:merchant_pay_time
    //                },
    //                function(data){
    //                    util.message('提交成功');
    //                    //location.reload();
    //                }
    //        );
    //    })

    //open营业执照打开
    $('.yyzz').click(function(){
        $('.paydetail').fadeIn()
    });

    {if !$supplier['id']}
    //短信验证码
    var url = "{php echo web_url('platform/platform_apply')}&op=code&uniacid=33";
    var getCord = document.getElementById("getCord");
    function getCorda(ev) {
        if ($('#getCord').html() == '获取验证码' || $('#getCord').html() == '发送失败' || $('#getCord').html() == '重新发送验证码') {
            ajaxData(0, url);
        }else {
            // var num = $(".code").val();
            // console.log(num);
            // ajaxData(num, url);
            util.tips('倒计时还未结束');
            return;
        }

    };

    function ajaxData(num, url){

        var mobile = $(".contact_phone").val();

        if(!(/^1[34578]\d{9}$/.test(mobile))){
            util.tips('手机号码不正确');
            return false;
        }
        //去除单击事件，防止多次点击
        $('#getCord').attr('onclick','');
        var xhr = new XMLHttpRequest();
        var formData = new FormData();

        formData.append('num', num);
        if (num == 0) {
            formData.append("mobile", mobile);
            formData.append('retrieve', 1);
        }
        else if (num.length == 6) {
            formData.append('retrieve', 2);
        }
        else {
            util.tips("验证码不正确");
            return false;
        }
        xhr.open('post', url, true);
        xhr.send(formData);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if ((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304) {
                    var res = JSON.parse(xhr.responseText);
                    if(res.result){
                        util.tips(res.result);
                        return false;
                    }
                    if (res['status'] == 1) {
                        window.sessionStorage.setItem('mobile_code',res['code'])
//                        $.toast(res['code']);
                        util.tips('短信发送成功');
                        var a = 180;
                        var timp = setInterval(function () {
                            a--;
                            $('#getCord').html( a + '秒');
                            if (a == 0) {
                                $('#getCord').attr('onclick','getCorda(this)');
                                $('#getCord').html('重新发送验证码');
                                clearInterval(timp);
                            }
                        }, 1000);
                    }else if(res['status'] == -1){
                        util.tips(res.result);
                    }else if(res['status'] == 2){
                        util.tips(res.result);
                        window.history(-1);
                    }
                }
            }
        }
    }
    {/if}

</script>

{php include wl_template('common/footer');}