<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        .inner p{
            margin-top: 0;
            margin-bottom: 5px;
        }
    </style>
<body>
<div class="panel-body editZL" >
    <div class="news_box inset wxverify" id="print_xieyi" style="margin: 0 auto;">
        <div class="inner">
            <h3 style="margin-top: 5px;text-align: center">极限单品批次供应承诺书</h3>
            <!--<h4>【首部及导言】</h4>-->
            <p>根据国家相关的法律、法规，双方经友好协商，在自愿、公开、诚信、守法、本着互利互惠的原则下，供应商做出以下承诺：</p>
            <p>一、承诺遵守供货商品的资质、质量及配送发货时间规定</p>
            <p>1、供应商品的品质符合国家标准、行业标准的相关规定</p>
            <p>2、具备相应的资格，如营业执照、食品流通许可证等相关资质证明，如相关资质变更、过期及时更新资质资料提交至平台。</p>
            <p>3、供应商品描述与实际货品相符</p>
            <p>4、承诺<u>{$_GPC['name']}</u>商品<u>{$_GPC['pici']}</u>批次保障商品质量及其售后服务。</p>
            <p>5、承诺接收到平台订单起24小时内完成发货，并将配送信息报表发至平台方。</p>
            <p>二、承诺遵守供货价格的相关规定</p>
            <p>1、供货商提供产品的价格应公平合理</p>
            <p>三、承诺遵守以下供货结算方式、交易风险及商品售后服务的相关规定</p>
            <p>（一）结算方式</p>
            <p>1、平台结算方式按供货批次结算，结算时间为该批次货品售卖成功且客户成功签收后无其他售后问题，火蝶将根据供货商提交的提现指示安排结算该批次货款。结算规则为默认7天+店铺评分权重值弹性结算方式。</p>
            <p>2、款项专属：对火蝶为您代收的货款，火蝶将予以妥善保管，除本协议另行规定外，不作任何其他非您指示的用途。火蝶通过您的登录名和密码识别您的指示，请您妥善保管您的登录名和密码，对于因密码泄露所致的损失，由您自行承担。</p>
            <p>3、交易异常处理：您使用本服务时，可能因银行本身系统问题、银行相关作业网络连线问题或其他不可抗拒因素，造成我司无法提供服务。您确保您所输入的您的资料无误，如果因资料错误造成火蝶于上述异常状况发生时，无法及时通知您相关交易后续处理方式的，火蝶不承担任何损害赔偿责任。</p>
            <p>4、火蝶会将与您火蝶账户相关的资金，独立于本公司营运资金之外，且不会将该资金用于非您指示的用途，但下述“交易风险”项约定的除外。</p>
            <p>（二）、交易风险</p>
            <p>您理解并同意，火蝶不对因下述任一情况导致的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形、间接损失的损害赔偿：</p>
            <p>1、因您的原因导致的任何损失由您自行承担，该过错包括但不限于：不按照交易提示操作，未及时进行交易操作，遗忘或泄漏密码，密码被他人破解，您使用的计算机被他人侵入。 </p>
            <p>2、违反《银行卡业务管理办法》使用银行卡，或利用信用卡套取现金（以下简称套现）。如您的交易涉及非真实或违法交易，火蝶公司有权冻结您的款项，并提交监管部门进行处理。</p>
            <p>3、火蝶在发现异常交易或有售后未处理或有违反法律规定或本协议约定之虞时，有权不经通知先行暂停或终止该账户的使用，并有权冻结货款资金用于处理违规问题（包括但不限于对该账户名下的款项和在途交易采取取消交易、调账等限制措施）</p>
            <p>4、其他火蝶有正当理由认为不适当之行为。 </p>
            <p style="height: 7px"></p>
            <p style="margin-left: 60%">承诺企业（个体）盖公章</p>
            <p style="height: 7px"></p>
            <p style="margin-left: 60%">承诺人（手印）</p>
            <p style="height: 7px"></p>
            <p style="margin-left: 60%">{php echo date('Y年m月d日')}</p>
        </div>
    </div>
</div>
<script>
    window.onload=function(){
        window.print();
    }
</script>
</body>
</html>


