{php include wl_template('common/header');}
<style>
    .tit > i {
        font-size: 16px;
        margin-right: 10px;
    }
    .wx_wrap .imgby2wm {
        position: absolute;
        top: 50%;
        left: 35%;
        width: 30%
    }

    .address_new .row {
        box-sizing: border-box;
    }

    .address_new .row label {
        display: flex;
        display: -webkit-flex;
        box-sizing: border-box;
        padding: 0 20px;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: center;
        -webkit-align-items: center;
        height: 40px;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
    }

    .address_new .row label span {
        width: 90px;

    }

    .address_new .row label input {
        flex: 1;
        -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1; /* OLD - Firefox 19- */
        width: 20%; /* For old syntax, otherwise collapses. */
        -webkit-flex: 1; /* Chrome */
        -ms-flex: 1; /* IE 10 */
        border: none;
    }

    .address_new .row .code {
        display: inline-block
        width: 60%;
    }

    .address_new .row .getCord {
        float: right;
        height: 35px;
        width: 40%;
        font-size: 12px;
        background-color: #6fbfd8;
    }

    .address_new .action .pay2_btn {
        margin: 0 auto;
        margin-top: 60px;
        box-shadow: 0 0 5px #aaa;
        width: 90%;
        border-radius: 5px;
        background-color: #6fbfd8;
        color: #fff;
    }
    /*success css*/
    .wx_bar_back {
        text-align:center;
        margin-top:30px;
    }
    .success-text{
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
    }
    #closewindow {
        display:block;
        width:200px;
        height:40px;
        background-color:#6fbfd8;
        color:white;
        font-weight:700;
        font-size:1.5em;
        line-height:40px;
        text-align:center;
        margin:auto;
        border-radius:5px;
        margin-top:80px;
    }
</style>

    <div class="mod_container">
        {if $member['wholesaler_apply'] == 0}
        <div class="wx_wrap">
            <form name='form' method="post" onsubmit="return toVaild()">
                <div class="address_new" style="text-align:center;margin-top:30px;">
                    <input id="address_regionId" type="hidden">
                    <p class="row">
                        <label for="name">
                            <span class="tit"><i class="icon icon-me"></i>姓 名</span>
                            <input name="name" id="name" type="text" placeholder="名字" value="{$member['name']}">

                        </label>
                    </p>
                    <p class="row">
                        <label for="mobile">
                            <span class="tit"><i class="icon icon-phone"></i>手机号</span>
                            <input required="" id="mobile" placeholder="手机号码" name="mobile" maxlength="11" minlength="11"
                                   class="block input" tabindex="2" type="tel" value="{$member['addmobile']}"/>
                        </label>
                    </p>

                    {if $setting['smscode'] == 1}
                    <p class="row">
                        <label for="code">
                            <span class="tit"><i class="icon icon-message"></i>验证码</span>
                            <input id="code" class="weui-input code" type="text"
                                   placeholder="短信验证码">
                            <input onclick="getCorda(this)" type="button" value="点击获得验证码" id="getCord"
                                   class="weui-btn weui-btn_primary getCord"/>
                        </label>
                    </p>
                    {/if}
                    {if $setting['apply'] == 1}
                    <p class="action">
                        <button name="submit" value="yes" id='submit1' class="pay2_btn">申请会员</button>
                        <input type="hidden" name="token" value="{$_W['token']}"/>
                    </p>
                    {/if}
                </div>
            </form>
        </div>
        {elseif $member['wholesaler_apply'] == 1}
            <div class="wx_bar">
                <div class="mod_container">
                    <div class="wx_bar">
                        <div class="wx_bar_back">
                            <img src="{$member['avatar']}" style="width:80px;height:80px;padding1px;border:1px solid #ccc">
                        </div>
                        {if $member['wholesaler_status'] == 0}
                        <div class="success-text">
                           您好，申请已提交！
                            <br>
                            请耐心等待审核
                        </div>
                        <a id="closewindow" href="{php echo app_url('goods/list')}">返回</a>
                        {elseif $member['wholesaler_status'] == 1}
                        <div class="success-text">
                            恭喜您，申请已通过。
                            <br>
                            您可以去往商场购买批发商品啦！
                        </div>
                        <a id="closewindow" href="{php echo app_url('goods/list')}">去商场</a>
                        {elseif $member['wholesaler_status'] == 2}
                        <div class="success-text">
                           抱歉，申请被驳回！
                        </div>
                        <a id="closewindow" href="{php echo app_url('goods/list')}">返回</a>
                        {/if}
                    </div>
                    <div class="wx_wrap">
                        <div class="address_new" style="text-align:center;margin-top:30px;">
                        </div>
                    </div>
                </div>
            </div>
        {else}
            <div class="wx_bar">
                <div class="mod_container">
                    <div class="wx_bar">
                        <div class="wx_bar_back">
                            <img src="{$member['avatar']}" style="width:80px;height:80px;padding1px;border:1px solid #ccc">
                        </div>
                        <div class="success-text">
                            恭喜您，申请已通过。
                            <br>
                            您可以去往商场购买批发商品啦！
                        </div>
                        <a id="closewindow" href="{php echo app_url('goods/list')}">去商场</a>
                    </div>
                    <div class="wx_wrap">
                        <div class="address_new" style="text-align:center;margin-top:30px;">
                        </div>
                    </div>
                </div>
            </div>
        {/if}
    </div>
{if $setting['smscode'] == 1}
<script>
    var url = "{php echo $_W['siteroot']}/minapi.php?op=code&uniacid={$_W['uniacid']}";
    var getCord = document.getElementById("getCord");
    getCord.onclick = function (ev) {
        if (getCord.value == '点击获得验证码' || getCord.value == '发送失败' || getCord.value == '重新发送验证码') {
            ajaxData(0, url);
        } else {
            $.toast('倒计时还未结束', 1000);
            return;
        }

    };

    function ajaxData(num, url) {

        var mobile = $("#mobile").val();

        if (!(/^1[34578]\d{9}$/.test(mobile))) {
            $.toast('手机号码不正确');
            return false;
        }
        //去除单击事件，防止多次点击
        $('#getCord').attr('onclick', '');
        var xhr = new XMLHttpRequest();
        var formData = new FormData();

        formData.append('num', num);
        if (num == 0) {
            formData.append("mobile", mobile);
            formData.append('retrieve', 1);
        }
        else if (num.length == 6) {
            formData.append('retrieve', 2);
        }
        else {
            $.toast("验证码不正确");
            return false;
        }
        xhr.open('post', url, true);
        xhr.send(formData);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if ((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304) {
                    var res = JSON.parse(xhr.responseText);
                    if (res.result) {
                        $.toast(res.result);
                        return false;
                    }
                    if (res['status'] == 1) {
                        window.sessionStorage.setItem('applycode', res['code'])
                        var a = 60;
                        var timp = setInterval(function () {
                            a--;
                            getCord.value = a + '秒';
                            if (a == 0) {
                                $('#getCord').attr('onclick', 'getCorda(this)');
                                getCord.value = '重新发送验证码';
                                clearInterval(timp);
                            }
                        }, 1000);
                    } else if (res['status'] == -1) {
                        $.toast(res.result);
                    } else if (res['status'] == 2) {
                        $.toast(res.result);
                        window.history(-1);
                    }
                }
            }
        }
    }

</script>
{/if}
<script>
    // wx.ready(function () {
    //     $('#closewindow').click(function () {
    //         location.href = "{php echo app_url('member/home')}";
    //     });
    // });
    $('#submit1').click(function () {
        if ($('#name').val() == '') {
            $.toast('请输入姓名');
            return false;
        }
        if ($('#mobile').val() == '') {
            $.toast('请输电话号码');
            return false;
        }
        var mobile = $("#mobile").val();
        if (!(/^1[34578]\d{9}$/.test(mobile))) {
            $.toast('手机号码不正确');
            return false;
        }
        {if $setting['smscode'] == 1}
        if ($('#code').val() == '') {
            $.toast('请输入短信验证码');
            return false;
        }

        if(sessionStorage.getItem('applycode')!=$('#code').val()){
            $.toast('短信验证码有误');
            return false;
        }
        {/if}
    });


    function escape2Html(str){
        var arrEntities={'lt':'<','gt':'>','nbsp':' ','amp':'&','quot':'"'};
        return str.replace(/&(lt|gt|nbsp|amp|quot);/ig,function(all,t){return arrEntities[t];});
    }
    $(".member_rules").html(escape2Html("{$member_rules['member_rules']}"));
</script>

{php include wl_template('common/footer');}
